.list {
  margin-block-start: 28px;
  @include flex(row, start, center, 40px);
  flex-wrap: wrap;
  row-gap: 32px;

  @media (max-width: 800px) {
    gap: 19px;
  }

  @media (max-width: 375px) {
    margin-block-start: 16px;
  }
}
