.inputGroup {
  inline-size: 100%;
  @include flex(column, start, start, 10px);
  position: relative;

  .label {
    font: {
      family: "Manrope", sans-serif;
      size: 18px;
      weight: 600;
    }
    line-height: 135%;

    @media (max-width: 375px) {
      font-size: 16px;
    }
  }

  .input {
    inline-size: 100%;
    border: 2px solid $gray-200;
    padding-inline: 16px 8px;
    padding-block: 10px;
    border-radius: 50px;
    font: {
      family: "Manrope", sans-serif;
      size: 16px;
      weight: 500;
    }

    @media (max-width: 375px) {
      font-size: 14px;
    }
  }

  .errorMessage {
    left: 0;
    bottom: -20px;
    position: absolute;
    font: {
      size: 14px;
      weight: 400;
    }
    color: crimson;
  }

  .btn_reset {
    position: absolute;
    bottom: 0;
    right: 0;
    inline-size: 24px;
    aspect-ratio: 1;
    transform: translate(-35%, -35%);
    background-image: url(../../assets/svg/Cross.svg);
    z-index: 1;
  }
}
