.btn {
  inline-size: 100%;
  background-color: $gray-900;
  font: {
    family: "Manrope", sans-serif;
    size: 16px;
    weight: 600;
  }
  color: $white;
  padding: 12px 42px;
  border-radius: 50px;
  transition: 0.1s;

  @media (hover: hover) {
    &:hover {
      background-color: $gray-100;
      color: $gray-400;
    }
  }
}
