.card {
  inline-size: 360px;
  block-size: 168px;
  background-color: $white;
  border-radius: 16px;
  @include flex(row, center, center, 20px);
  padding: 24px;
  position: relative;

  @media (max-width: 375px) {
    inline-size: 162px;
    block-size: 272px;
    @include flex(column, center, center, 16px);
    padding: 16px;
  }

  .img {
    inline-size: 112px;
    block-size: 100%;
    object-fit: cover;
    border-radius: calc(16px / 2);
    flex-shrink: 0;

    @media (max-width: 375px) {
      inline-size: 130px;
      block-size: 120px;
    }
  }

  .archive_img {
    filter: grayscale(1);
  }

  .description {
    inline-size: 100%;
    block-size: 100%;
    @include flex(column, space-between, start, 4px);
    font: {
      family: "Manrope", sans-serif;
    }

    .title_box {
      inline-size: 100%;
      @include flex(row, space-between, start, 5px);

      .btnDropDown {
        inline-size: min-content;
        cursor: pointer;

        svg {
          color: $gray-900;
          transition: 0.1s;

          @media (max-width: 375px) {
            inline-size: 18px;
            block-size: 18px;
          }
        }

        @media (hover: hover) {
          &:hover {
            svg {
              color: $accent;
            }
          }
        }

        &:active {
          svg {
            color: $gray-400;
          }
        }
      }

      .dropdownWrapper {
        inline-size: min-content;
        position: absolute;
        top: calc(24px / 2);
        right: calc(24px * 2);
        z-index: 1;

        @media (max-width: 375px) {
          top: 175px;
          right: 0;
        }
      }
    }

    .name {
      font: {
        size: 20px;
        weight: 600;
      }
      color: $accent;

      @media (max-width: 375px) {
        font: {
          size: 18px;
        }
      }
    }

    .archive_name {
      color: $gray-400;
    }

    .company {
      font: {
        size: 16px;
        weight: 500;
      }
      color: $gray-400;
      margin-block-end: auto;

      @media (max-width: 375px) {
        font: {
          size: 14px;
        }
      }
    }

    .archive_company {
      color: $gray-300;
    }

    .city {
      font: {
        size: 14px;
        weight: 400;
      }
      color: $gray-300;

      @media (max-width: 375px) {
        font: {
          size: 10px;
        }
      }
    }

    .archive_city {
      color: $gray-200;
    }
  }
}
