.section {
  inline-size: 100%;
  block-size: min-content;

  .title {
    font: {
      family: "Manrope", sans-serif;
      size: 24px;
      weight: 600;
    }
    color: #161616;
    padding-block-end: 16px;
    border-block-end: 1px solid #dadada;
  }
}
